<div class="alert alert-success" *ngIf="success">Opération effectuée avec succès</div>
<div class="h2">Liste des Clients</div>
<button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary float-end" (click)="resetForm()">Nouveau client</button>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>id</th>
    <th>Nom</th>
    <th>Téléphone</th>
    <th>Mail</th>
    <th>Adresse</th>
    <th><i class="fa fa-cogs"></i></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let client of clients">
    <td>{{client.id}}</td>
    <td>{{client.nom}}</td>
    <td>{{client.telephone}}</td>
    <td>{{client.email}}</td>
    <td>{{client.adresse}}</td>

    <td>
      <a (click)="edit(client.id)" data-bs-toggle="modal" data-bs-target="#exampleModal" ><i class="fa fa-edit"></i></a>
      <a (click)="delete(client.id)"class="ps-2" ><i class="fa fa-trash"></i></a>
    </td>
  </tr>
  </tbody>
</table>
<br />

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form name="villeForm" method="POST" (submit)="submitForm()"ngNativeValidate>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" *ngIf="c.id == undefined">Ajouter un client</h5>
          <h5 class="modal-title" id="exampleModalLabel" *ngIf="c.id != undefined">Editer un client</h5>
          <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="alert alert-danger" *ngIf="error">Une erreur est survenue, veuillez vérifier votre saisie
          </div>
          <div id="message"></div>

          <div class="mb-3">
            <label for="nom" class="form-label">Nom</label>
            <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" required autofocus [(ngModel)]="c.nom">
          </div>

          <div class="mb-3">
            <label for="tel" class="form-label">Téléphone</label>
            <input type="text" class="form-control" id="tel" name="nom" placeholder="Téléphone" minlength="2" required [(ngModel)]="c.telephone">
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Email" minlength="2" required [(ngModel)]="c.email">
          </div>

          <div class="mb-3">
            <label for="adresse" class="form-label">Adresse</label>
            <input type="tel" class="form-control" id="adresse" name="telephone" placeholder="Adresse" minlength="2" required [(ngModel)]="c.adresse">
          </div>

        </div>
        <div class="modal-footer justify-content-between">
          <button type="reset" class="btn btn-danger float-end">Annuler</button>
          <button type="submit" class="btn btn-secondary" id="submitbtn">Valider</button>
        </div>
      </div>
    </form>
  </div>
</div>

