<header id="header" *ngIf="guard.isConnected()">

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4" style="min-height: 96px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Home Hotel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/hotel']">Hôtels</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"[routerLink]="['/client']">CLients</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/resa']">Reservations</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Utilisateurs</a>
        </li>
<li>
  <span> Bienvenue {{username}}</span>
</li>
      </ul>


      <div class="float-end">
        <div class="dropdown dropstart">
          <button class="border-0 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/assets/images/profil.jpg" alt="Photo de profil" class="img-profil rounded-circle">
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#profileModal"

            >Gérer mon profil</a></li>
            <li><a  class="dropdown-item"(click)="onLogout()">Logout</a></li>


          </ul>
        </div>

       </div>
    </div>
  </div>
</nav>
</header>
